<html>

<body>

    <div id="app"></div>

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script> -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/babel">

        class App extends React.Component {
            constructor(props) {
                super(props);
                this.state = { data: "" };
                this.websocket = null;
            }

            setData = (newData) => {
                if (newData)
                {
                    this.setState({
                        data: this.state.data.concat("\n", newData)
                    })
                }
            }

            connectWs = () => {
                this.websocket = new WebSocket("ws://localhost:8080/ws", "protocolOne");

                this.websocket.onmessage = function (event) {
                    console.log("Received a message client")
                    this.setData(event.data)
                }.bind(this);

                return "Connected!";
            }

            joinRoom = (roomName, password) => {
                var msg = {
                    method: "JoinRoom",
                    data: {
                        name: roomName || "test",
                        password: password || ""
                    }
                };

                this.websocket.send(JSON.stringify(msg));
            }

            sendMessage = (message) => {
                var msg = {
                    method: "Message",
                    data: {
                        message: message
                    }
                };

                this.websocket.send(JSON.stringify(msg));
            }

            leaveRoom = () => {
                var msg = {
                    method: "LeaveRoom",
                };

                this.websocket.send(JSON.stringify(msg));
            }

            render() {
                if (this.state.liked)
                {
                    return 'You liked this.';
                }

                return (<div>
                    <Connect connectWs={this.connectWs} setData={this.setData} />
                    <JoinRoom joinRoom={this.joinRoom} setData={this.setData} />
                    <Message sendMessage={this.sendMessage} setData={this.setData} />
                    <LeaveRoom leaveRoom={this.leaveRoom} setData={this.setData} />
                    <ConsoleLog data={this.state.data} />
                </div>)
            }
        }

        function ConsoleLog(props) {
            const { data } = props;
            return (<pre>{data || "No Data"}</pre>)
        }

        function Connect(props) {
            const { connectWs, setData } = props;

            const handler = (event) => {
                event.preventDefault();
                const result = connectWs();
                setData(result)
            }

            return (
                <button type="button" onClick={handler}>Connect to WS</button>
            )
        }

        function JoinRoom(props) {
            const roomNameInput = React.createRef();
            const passwordInput = React.createRef();
            const { joinRoom, setData } = props;

            const handler = (event) => {
                event.preventDefault();
                const result = joinRoom(roomNameInput.current.value, passwordInput.current.value);
                setData(result)
            }

            return (
                <div>
                    <label for="roomName">Room name:</label>
                    <input id="roomName" ref={roomNameInput} type="text" />
                    <label for="password">Password (if applicable):</label>
                    <input id="password" ref={passwordInput} type="text" />
                    <button type="button" onClick={handler}>Join room</button>
                </div>
            )
        }

        function LeaveRoom(props) {
            const { leaveRoom, setData } = props;

            const handler = (event) => {
                event.preventDefault();
                const result = leaveRoom();
                setData(result)
            }

            return (
                <button type="button" onClick={handler}>Leave room</button>
            )
        }

        function Message(props) {
            const textInput = React.createRef();
            const { sendMessage, setData } = props;

            const handler = (event) => {
                event.preventDefault();
                const message = textInput.current.value;
                if (message)
                {
                    const result = sendMessage(message);
                    setData(result)
                }
            }

            return (
                <div>
                    <input ref={textInput} type="text" />
                    <button type="button" onClick={handler} >Send Message </button>
                </div>
            )
        }

        ReactDOM.render(React.createElement(App), document.getElementById('app'));
    </script>
</body>

</html>